#mapid{
    
    height: 500px;
    width: 80%; 
  }
  
   
  
  
  
  
  .navegador{
    width: 1700px;
  
    background: #090a0ca2;
  }
  
  
  
  .menu > li{
    position: relative;
    display: inline-block;
  }
  
  .menu > li > a{
    display: block;
    padding: 30px ;
    color: #fffefe;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
  }
  
  .menu li a:hover{
    color: #0d0e0d;
    transition: all .3s;
  }
  
  .submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
  }
  
  .submenu li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
  }
  
  .menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
  }
  .subtitulo{
    margin: 0;
    color: rgb(77, 80, 77);
    font-size: 80px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
  }
  
  
  
  div#general{
    margin: auto;
    text-align: justify;
    background-position: center;
  }